.img1 {
  width: 200px;
  border-radius: 20px;
}
.img2 {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.img3 {
  border-radius: 6000px;
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
.search-bar {
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(200, 200, 200);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 8px;
}