.subscribe-button {
  background-color: rgb(200, 0, 0);
  color: white;
  border: none;
  height: 35px;
  width: 105px;
  border-radius: 2px;
  cursor: pointer;
}
.join-button {
  background-color: white;
  color:rgb(60, 114, 189);
  border: solid;
  border-width: 1px;
  height: 30px;
  width: 65px;
  border-radius: 2px;
  cursor: pointer;
}
.tweet-button {
  background-color: rgb(12, 109, 189);
  border: none;
  border-radius: 20px;
  height: 35px;
  width: 70px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  font-size: 15px;
  cursor: pointer;
}