p {
  font-family: arial;
  text-align: center;
}
.new {
  color: red;
  margin-bottom: 5px;
}
.mac {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}
.pros {
  font-size: 30px;
  margin-top: 5px;
  font-weight: bolder;
  margin-bottom: 15px;
}
.price {
  margin-top: 0;
}
.buy {
  background-color: rgb(16, 107, 172);
  color: white;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 15px;
  font-weight: bold;
  cursor: pointer;
}