p {
  font-family: Arial;
}
.title {
  font-size: 40px;
  margin-bottom: 30px;
  margin-top: 0px;
}
input {
  display: block;
  border: none;
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  width: 400px;
}
.des {
  margin-bottom: 35px;
}

.req{
  background-color: black;
  color: white;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
  margin-right: 20px;
}
.sched {
  background-color: rgb(240, 240, 240);
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 16px;
}